@import "bootstrap";

$hover-gray: #b3adad;
$border-gray: #dce0e0;
$font-gray: #484848;

@import "util";
@import "navbar";
@import "session_form";
@import "slideshow";
@import "search";
@import "react_date_picker";
