/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 /* RESET BEGIN */



 html, head, body, header,
 nav, h1, a, ul, li, main,
 section, p, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
   background: transparent;
   font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
 }

 article, aside, figure, footer,header,
 nav, section, details, summary {
   display: block;
 }

 html {
 	box-sizing: border-box;
   overflow-y: scroll; /* forcing a vertical scrollbar */
 }

 *,
 *:before,
 *:after {
 	box-sizing: inherit;
 }

 img, object, embed {
   max-width: 100%;
 }

 ul {
   list-style: none;
 }

 button:hover {
   cursor: pointer;
 }

 /* Clearfix */
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

/* RESET END */


/* NAV STYLE BEGIN */

html, body, main {margin:0;padding:0;height:100%;}

.nav {
  position: relative;
  z-index: 2;
  background: #FF5A5F;
  height: 61px;
 }

.nav button {
  position: relative;
  padding-left: 19px;
  opacity: 1;
  padding-right: 19px;
  font-size: 14px;
  border-style: none;
  color: inherit;
  background: transparent;
  height: 61px;
  padding: 19px;
  margin: auto;
}

.nav .left button {
  float: left;
}

.nav .right button {
  float: right;
}

.nav button:focus {
  outline:0;
}

.nav button:hover {
  cursor: pointer;
}

.nav-logo {
  float: left;
  width: 110px;
  margin-left: 20px;
  margin-top: 15px;
  height: auto;
  cursor: pointer;
}

/*.fixed {
  position: fixed;
  background: white;
  width: 100%;
  color: black;
  border-bottom: solid 1px #C4C4C4;
}*/

/* NAV STYLE END */

/* SESSION FORM */

.login-signup-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
}

.login-signup-div {
  border: 1px solid;
  width: 450px;
  height: auto;
  border: 1px solid #484848;
  background: white;
  border-radius: 20px;
  padding: 32px;
  position: absolute;
  top: calc(30% + 220px);
  left: 50%;
  margin: -265px 0 0 -225px;
}

.login-signup-header {
  border-bottom: 1px solid #bfb1b1;
  padding-bottom: 10px;
  padding-right: 10px;
}

.login-signup-header h1 {
  float: left;
  font-size: 20px;
  font-weight: 500;
}

.login-signup-cancel {
  float: right;
  font-size: 20px;
  color: #756f6f;
  font-family: sans-serif;
}

.login-signup-cancel:hover {
  cursor: pointer;
  color: black;
}

.login-signup-cancel:after {
  content: "X";
}

.login-signup-form input {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-right: 35px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
}

ul.login-signup-form-error {
  width: 100%;
  height: auto;
  font-size: 15px;
  display: inherit;
  border-radius: 5px;
  background-color: #f5c5c5;
  color: #d41313;
  padding: 10px;
}

.login-signup-buttons-div {
  margin: 0 auto;
  display: flex;
}

.login-signup-buttons-div button {
  width: auto;
  min-width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: inherit;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.submit-button {
  border: 1px solid #FF5A5F;
  background-color: #FF5A5F;
}

.demo-button {
  background-color: #607d8b;
  border: 1px solid #607d8b;
}

.login-signup-form.group {
  padding-top: 20px;
}

/* GOOGLE MAP */
.map {
  width: 100%;
  height: 100%;
  z-index: 0;
  float: left;
}

.map-container {
  position: absolute;
  right: 0px;
  width: 40%;
  height: 100%;
  display: block;
  float: right;
}

/* SEARCH RESULTS */

.search-results-container {
  width: 60%;
  overflow: scroll;
  float: left;
  flex-wrap: wrap;
  height: 100%;
}

aside.spot-index-container {
  overflow: scroll;
  height: 500px;
}

.spot-index-item {
  float: left;
  width: 50%;
}

.filter-form-container {
  height: 100px;
}


.spot-index-item {
    display: block;
    position: relative;
}

figure.spot-photo-container {
    height: auto;
    width: auto;
    position: relative;
}

img.spot-item-host-photo {
    position: absolute;
    bottom: calc(100% - 160px);
    right: 4px;
    background-color: white;
    border: 1px solid red;
    border-radius: 50%;
}

.spot-prices {
    position: absolute;
    top: 0;
    color: red;
}
