.featured-cities-container {
  padding: 3em 2em;
  text-align: center;
  display: table;
  margin: 0 auto;
  position: relative;

  ul {
    padding: 0;
    margin: auto;
    max-width: 1500px;
    display: inline-block;
    list-style: none;
    position: relative;

    li {
      display: inline;
      float: left;
      padding: 2em;
      width: 50%;
      max-width: 1000px;

      div.overflow {
        height: 22em;
        width: auto;
        overflow: hidden;
        float: left;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          position: relative;
         }

         @media screen
          and (min-device-width: 1200px)
          and (max-device-width: 3000px)
          and (-webkit-min-device-pixel-ratio: 2)
          and (min-resolution: 192dpi) {
            img {
              top: -25%;
            }
        }


        label {
          position: absolute;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto;
          background: rgba(0,0,0,0.3);
          color: white;
          font-weight: normal;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 2.5em;
          line-height: 3em;
          height: 0;
          cursor: pointer;
        }
      }
    }
  }
}
