.filter-form-container {

  height: $filter-form-height;
  position: fixed;
  padding: 10px 20px;
  width: 60%;
  background-color: white;
  text-align: center;

  .form-group {
    padding: 5px 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }

  .form-group:not(:last-child) {
    border-bottom: 1px solid #ded2d2;
  }

  .form-group-label {
    width: 20%;
  }

  .form-group-input-field {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    text-align: center;

    label {
      color: $font-gray;
      margin-left: 10px;
    }
  }

  .btn.btn-primary {
    width: 80px;
    padding: 1px;
    margin: 10px;
    letter-spacing: 1px;
  }

  input[type="date"] {
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
  }

  button.btn.btn-primary {
    background-color: #878f96;
    border-color: #878f96;
    margin-top: 5px;
  }

  button.btn.btn-primary.active {
    background-color: #ff5d62;
    border-color: #ff5d62;
  }

}
