@import "slideshow";
@import "home_where_to";

.push-up {
  position: relative;
  top: -90px;
  footer {
    bottom: -90px;
    position: relative;
    background-color: #eee;
  }
}

footer {

  div.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;

    ul {
     width: auto;
     float: left;
     list-style: none;
     margin: 2em;
     padding: 0 3em;

     img { height: 40px; margin: auto 0; }

     h5 { margin-bottom: 5px; font-weight: 600; }

     li { line-height: 2em }
     li a { color: #4e4444; cursor: pointer; }
     li a:hover { color: #000; }
    }
  }
}
