body {
  font-family: Opal, Cylinder, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #f5f5f5;
}

// HEADER DEFAULTS

header {
  font-size: 16px;
  height: $header-height;
  width: 100%;
}

.navbar-default {
  background-color: white;
  border-color: #e7e7e7;
}

#splash {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.show#splash {
  background-color: rgba(0,0,0,0.8);
}

.navbar-default .navbar-nav > li:hover {
  cursor: pointer;
}

// LEFT SIDE OF NAVBAR

.logo {
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
}

img.nav-looking-glass {
  height: 23px;
  width: 23px;
  margin-top: 15px;
  margin-left: 10px;
}

input.nav-where-to-input {
  margin-top: 13px;
  width: 400%;
  height: 30px;
}

#autocomplete-search-field,
#nav-autocomplete-search-field {
  padding-left: 10px;
  border: 1px solid white;
}

#nav-autocomplete-search-field,
#autocomplete-search-field:focus {
  outline: none;
}

// RIGHT SIDE OF NAVBAR

.navbar-right {
  padding-right: 40px;
}

li.host-link {
  height: $header-height;
  display: flex;
  justify-content: center;
  flex-direction: column;

  a {
    border: 2px solid #c4c4c4;
    border-radius: 0.2em;
    padding: 0.3em 0.5em;
    margin: 0 1em;
    font-weight: normal;
  }

  a#splash { border-color: white; background-color: rgba(0,0,0,0.1); }
}

li.dropdown.open {
  background-color: rgba(0,0,0,0.1);
}

.dropdown.open > a.text-center {
  background-color: transparent;
  span {
    text-decoration: none;
    color: inherit;
  }
}

.dropdown.open > a.text-center:focus {
  background-color: transparent;
}

.navbar-profile-photo {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  border-color: 2px solid gray;
  background-color: #eee;
}

// fixes autocomplete hidden under nav bar
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 999;
}
