.sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.map {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: calc(100% - 50px);
}

@import "filter_form";
@import "rheostat";
@import "spots_index";
@import "loader";
