.slideshow-container {
  display: block;
  width: 100%;
  position: absolute;
  top: -50px;
}

.slick-container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  color: #333;
  background: #000;
  overflow: hidden;
}

.park-there {
  position: absolute;
  left: 0;
  top: calc(31%);
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
}

.park-there > header {
  font-size: 57px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 14px;
}
