.slideshow-container {
  display: block;
  width: 100%;
  position: absolute;
  top: -50px;
}

.slick-container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  color: #333;
  background: #000;
  overflow: hidden;
}
